<main class="flex-item">
	<section class="products">
		{{#if data}}
		<h5 class="text-right mb-3"><a href="/cart">🛒 Cart <span class="badge badge-success">{{totalQuantity}}</span></a></h5>
		{{else}}
		<P>Not found, please <a href="/">try again</a>!</P>
		{{/if}}

		<div class="grid-container">

			{{#each data}}

			<div class='grid-item' style="background-image: url({{this.imgUrl}})">
				<div class='font-weight-bold'> <a class="btn btn-link" href="/products/{{this.id}}"
						title="{{this.description}}">{{this.name}}</a> </div>
				<div class='text-right'>
					{{#if this.quantity}}
					<form action="/add-to-cart" method="post">
						<input type="hidden" name="productId" value="{{this.id}}">
						<input type="number" name="quantity" min="1" max="{{this.quantity}}" value="1">
						<button type='submit' class='btn btn-success btn-sm'>➕ Add</button>
					</form>
					{{/if}}
				</div>
				<br />
				{{#if this.quantity}}
				<div>✅ Stock: {{this.quantity}}</div>
				{{else}}
				<br/>
				<div class="text-danger">🚫 Out of stock</div>
				{{/if}}
				<div>💰 Price: <span class='text-success'>${{formatCurrency this.price}} </span></div>
			</div>

			{{/each}}
		</div>
	</section>
</main>