<main class="flex-item">
	<section class="products">
		{{#if data}}
		<h2 class="text-right">🛒 Cart <span class="badge badge-primary">8</span></h2>
		{{else}}
		<P>Empty store, please come back later!</P>
		{{/if}}

		<div class="grid-container">

			{{#each data}}

			<div class='grid-item' style="background-image: url({{this.imgUrl}})">
				<div class='font-weight-bold'> <a class="btn btn-link" href="/products/{{this.id}}" title="{{this.desciption}}">{{this.name}}</a> </div>
				<div class='text-right'>
					{{#if this.quantity}}
					<button type='button' class='btn btn-success btn-sm' >Add to Cart</button>
					{{/if}}
				</div>
				<br/>
				<div>In Stock: {{this.quantity}}</div>
				<div>Price: <span class='text-success'>${{this.price}} </span></div>
			</div>

			{{/each}}
		</div>
	</section>
</main>