
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h3>Your Order History</h3>

            {{#if orders.length}}
            <ul>
                {{#each orders}}
                <li>
                    <strong>Order Date:</strong> {{this.date}}<br>
                    <strong>Items:</strong>
                    <ul>
                        {{#each this.products}}
                        <li> <img src="{{this.imgUrl}}" alt="{{this.name}}" style="height: 25px;">
                        {{this.name}} : ${{this.price}} - Quantity: {{this.quantity}} - Total: ${{this.total}}</li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p>You have no previous orders.</p>
            {{/if}}
        </div>
        <div class="col-sm"></div>
    </div>
</div>