<div>
	<div class="table-responsive">
		<table class="table table-condensed">
			{{#if data}}
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Price</th>
					<th>Description</th>
					<th>Stock Quantity</th>
					<th></th>
				</tr>
			</thead>
			{{else}}
			<tr><td colspan="3">No Products found ... Add One!</td></tr>
			{{/if}}
			<tbody>
				{{#each data}}
					<tr>
						<td><img src="{{this.imgUrl}}" style="height: 25px;" alt="{{this.name}}"></td>
						<td>{{this.name}}</td>
						<td>{{this.price}}</td>
						<td>{{this.description}}</td>
						<td>{{this.quantity}}</td>
						</td>
						<td>
							<a href="/products/edit/{{this.id}}">Edit</a> | 
							<a href="/products/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfooter>
				<tr><td>
				<button class="btn btn-primary" 
						onClick="addProduct();">Add</button>
				</td></tr>
			</tfooter>
		</table>
	</div>
</div>
