<div>
	<h3>Product List</h3>
	<div class="table-responsive">
		<table class="table table-condensed">
			{{#if data}}
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Price</th>
					<th>Description</th>
					<th>Stock Quantity</th>
					<th></th>
				</tr>
			</thead>
			{{else}}
			<tr><td colspan="3">No Products found ... Add One!</td></tr>
			{{/if}}
			<tbody>
				{{#each data}}
					<tr>
						<td><img src="{{this.imgUrl}}" style="height: 25px;" alt="{{this.name}}"></td>
						<td>{{this.name}}</td>
						<td>{{this.price}}</td>
						<td>{{this.description}}</td>
						<td>{{this.quantity}}</td>
						<td>
							<a href="/admin/products/edit/{{this.id}}">Edit</a> | 
							<a href="/admin/products/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfooter>
				<tr><td>
				<button class="btn btn-primary" 
						onClick="addProduct();">Add</button>
				</td></tr>
			</tfooter>
		</table>
	</div>

	<h3>Customer List</h3>
	<div class="table-responsive">
		<table class="table table-condensed">
			{{#if customers}}
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th></th>
				</tr>
			</thead>
			{{else}}
			<tr><td colspan="3">No Products found ... Add One!</td></tr>
			{{/if}}
			<tbody>
				{{#each customers}}
					<tr>
						<td><a href="/admin/customers/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></td>
						<td>{{this.email}}</td>
						<td>{{this.phone}}</td>
						<td>
							<a href="/admin/products/edit/{{this.id}}">Edit</a> | 
							<a href="/admin/products/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfooter>
				<tr><td>
				<button class="btn btn-primary" 
						onClick="addProduct();">Add</button>
				</td></tr>
			</tfooter>
		</table>
	</div>

	<h3>Orders List</h3>
	<div class="table-responsive">
		<table class="table table-condensed">
			{{#if orders}}
			<thead>
				<tr>
					<th>Customer Id</th>
					<th>Date</th>
					<th>Items</th>
				</tr>
			</thead>
			{{else}}
			<tr><td colspan="3">No Products found ... Add One!</td></tr>
			{{/if}}
			<tbody>
				{{#each orders}}
					<tr>
						<td>{{this.customerId}}</td>
						<td>{{this.date}}</td>
						<td>{{this.items.length}}</td>
						<td>
							<a href="/admin/products/edit/{{this.id}}">Edit</a> | 
							<a href="/admin/products/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfooter>
				<tr><td>
				<button class="btn btn-primary" 
						onClick="addProduct();">Add</button>
				</td></tr>
			</tfooter>
		</table>
	</div>

</div>
