{{#if data}}

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="card" >
                <img src="{{data.imgUrl}}" class="card-img-top" alt="{{data.name}}">
                <div class="card-body">
                    <h5 class="card-title">Name: {{data.name}}</h5>
                    <p class="card-text">Price: ${{data.price}}</p>
                    <p class="card-text">Stoce Quantity {{data.quantity}}</p>
                    <p class="card-text">Description {{data.description}}</p>
                    <a href="/products" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

{{else}}
<tr>
    <td colspan="3">No Products found...</td>
</tr>
{{/if}}