{{#if data}}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    {{data.name}}
                </div>
                <img src="{{data.imgUrl}}" class="card-img-top" alt="{{data.name}}">
                <div class="card-body">
                    <h5 class="card-title">Name: {{data.name}}</h5>
                    <p class="card-text">Price: ${{formatCurrency data.price}}</p>
                    <p class="card-text">Stoce Quantity: {{data.quantity}}</p>
                    <p class="card-text">Description: {{data.description}}</p>
                    <form action="/add-to-cart" method="post">
                        <input type="hidden" name="productId" value="{{data.id}}">
                        <input type="number" name="quantity" min="1" max="{{data.quantity}}" value="1">
                        <button type='submit' class='btn btn-success btn-sm'>➕ Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{{else}}
<tr>
    <td colspan="3">No Products found...</td>
</tr>
{{/if}}