{{#if customer}}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Customer: {{customer.firstName}} {{customer.lastName}}
                </div>

                <div class="card-body">
                    <p class="card-text">Email: {{customer.email}}</p>
                    <p class="card-text">Phone: {{customer.phone}}</p>
                </div>
            </div>

            {{#if orders.length}}
            <h5 class="card-title mt-3">Previous Orders: <span class="badge badge-light">{{orders.length}}</span></h5>

            <ul class="list-group list-group-flush">
                {{#each orders}}
                <li class="list-group-item mb-3">
                    <p><strong>Order Date: </strong>{{this.date}}</p>
                    <p><strong>{{this.totalQuantity}} Items, Total ${{this.grandTotal}} :</strong></p>
                    <ul>
                        {{#each this.products}}
                        <li> <img src="{{this.imgUrl}}" alt="{{this.name}}" style="height: 25px;">
                            {{this.name}} : ${{this.price}}
                            <br/>Quantity:
                            <form action="/admin/orders/update/{{../this.id}}/item/{{this.id}}" method="POST"
                                class="d-inline">
                                <input type="number" name="quantity" value="{{this.quantity}}" min="1">
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
                            <p>Sub-total: ${{this.total}}</p>
                        </li>
                        {{/each}}
                    </ul>
                    
                    <div class="mt-2 text-right">
                        <!-- delete the order -->
                        <form action="/admin/orders/delete/{{this.id}}" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-default btn-sm">❌ Delete Order</button>
                        </form>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p>You have no previous orders.</p>
            {{/if}}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{{else}}
<tr>
    <td colspan="3">No Products found...</td>
</tr>
{{/if}}